APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=America/Argentina/Cordoba

MASTER_DB_HOST=localhost
MASTER_DB_NAME=mesas_master
MASTER_DB_USER=root
MASTER_DB_PASS=

DB_HOST=localhost
DB_NAME=mesas_examen_ena
DB_USER=root
DB_PASS=

ALLOW_DEFAULT_TENANT_DB=true
DEFAULT_TENANT_ID=1
SESSION_HOURS=24

ALLOWED_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:3001,http://127.0.0.1:5173,http://127.0.0.1:3000,http://127.0.0.1:3001
